@import "./../../styles/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 0 3rem;

  .message {
    padding: $spacing-sm $spacing-md;
    border-radius: $formBorderRadius;
    background: $dark;
    color: $primary;
    margin-top: $spacing-md;
  }
  .error {
    font-size: 0.9rem;
    color: rgb(248, 3, 3);
  }
}

.form {
  background: $light;
  padding: $spacing-lg;
  border: 1px solid $primary;
  border-radius: $formBorderRadius;
  width: 100%;

  max-width: 475px;

  &__title,
  &__description {
    text-align: center;
    margin-bottom: $spacing-md;
  }

  &__control {
    display: flex;
    flex-direction: column;

    label {
      font-size: 1rem;
      letter-spacing: $letterSpacing;
    }
    input {
      font-size: 1.1rem;
      padding: $spacing-sm $spacing-sm;
      border-radius: $formBorderRadius;
      border: 1px solid $dark;
    }

    &:not(:last-of-type) {
      margin-bottom: $spacing-md;
    }
    &:last-of-type {
      margin-bottom: $spacing-lg;
    }
  }
  &__button {
    width: 100%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    padding: 0.75rem 1.25rem;
    border-radius: $formBorderRadius;
    font-size: 1rem;
    font-family: inherit;
    background: $primary;
    color: $light;
    letter-spacing: $letterSpacing;
    border: 1px solid transparent;
    transition: 0.3s ease all;
    font-weight: 400;
    box-shadow: $sharpBoxShadow;

    &:active {
      box-shadow: $sharpestBoxShadow;
    }

    &__icon {
      margin-bottom: -2.5px;
      margin-right: $spacing-sm;
    }
  }
  &__switch {
    display: block;
    text-align: center;
    margin-top: $spacing-md;
    font-size: 0.9rem;

    button {
      cursor: pointer;
      border: none;
      background: transparent;
      outline: none;
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: darken($dark, 10%);
      font-family: inherit;
      text-decoration: underline;
    }
  }
}
