@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

$Poppins: "Poppins", sans-serif;

// colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: rgb(238, 58, 229);
$bg: rgb(208, 208, 250);

// spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

// letter spacing
$letterSpacing: 0.4px;

// border radius
$borderRadius: 12px;
$formBorderRadius: 6px;

// header height
$headerHeight: 100px;

// box shadows
$sharpBoxShadow: 0 1px 1px rgba($dark, 0.25), 0 1px 1px rgba($dark, 0.2),
  0 2px 2px rgba($dark, 0.15), 0 6px 6px rgba($dark, 0.1),
  0 10px 10px rgba($dark, 0.05);
$sharpestBoxShadow: 1px 1px 1px rgba($dark, 0.25),
  1.5px 1px 1px rgba($dark, 0.2), 1px 1px 1px rgba($dark, 0.15);

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  }
}
